.main {
}
.intro {
  margin-bottom: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.grid {
}
.grid__item {
  border-radius: 15px;
  overflow: hidden;
  padding: 19px;
  flex-grow: 0.5;
  margin: 0 auto;
}
.one {
  background-color: #fdd2b2;
}
.one__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.one__title {
  color: #350910;
  max-width: 200px;
}
.one__about {
  color: #350910;
}
.two {
  padding: 0;
}
.two__wrapper {
}
.two__wrapper img {
  display: block;
  width: 100%;
}
.three {
  padding: 0;
}
.three__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.three__top {
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}
.three__title {
}
.three__text {
}
.three__bottom {
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 15px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}
.three__subtitle {
}
.three__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.three__box div {
  border: 1px solid rgba(0, 0, 0, 0.219);
  text-align: center;
  border-radius: 15px;
  padding: 4px 12px;
  font-size: 13px;
}

@media (min-width: 650px) {
  .one__title {
    max-width: 350px;
    font-size: 36px;
  }
  .grid__item {
    max-width: unset;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
