.main {
  margin: 25px 0;
}

.intro {
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.grid {
}
.grid__item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.95);
}
.one {
  background-color: yellowgreen;
}
.one__wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.one__title {
}
.one__about {
}
.two {
}
.two__wrapper {
}
.three {
  background-color: #dbd0c0;
}
.three__wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.three__title {
}
.three__text {
}
.four {
  background-color: #fd841f;
}
.four__wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.four__subtitle {
}
.four__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.four__box div {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .four__box {
    gap: 5px;
  }
}
