//
.main {
  margin-top: 1rem;
}
.main__wrapper {
}
.grid {
}
.grid__content {
}
.grid__box-one {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.square {
  border: 1px solid var(--main-border-color);
  padding: 15px 15px;
  border-radius: 15px;
}
.square:nth-child(1) {
  background-color: var(--card-bg);
}
.square:nth-child(2) {
  padding: 0;
}
.square__video {
  max-width: 400px;
}
iframe {
  border-radius: 15px;
}
.square__title {
  margin-bottom: 15px;
}
.square__desc {
  line-height: 1.2;
}
.square:nth-child(3) {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  border: none;
  padding: 0;
  gap: 10px;
}
.square-one {
  background-color: var(--main-grey);
  height: 55%;
  border: 1px solid var(--main-border-color);
  padding: 15px;
  border-radius: 15px;
}
.square-one__title {
  margin-bottom: 15px;
  line-height: 1.2;
}
.square-one__text {
}
.square-two {
  height: 45%;
  background-color: var(--main-violet);
  border: 1px solid var(--main-border-color);
  padding: 15px;
  border-radius: 15px;
}
.square-two__title {
  margin-bottom: 15px;
}
.square-one__title {
  font-size: 15px;
}
.square-two__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}
.square-two__item {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}
.grid__box-two {
}
.circle {
}

@media screen and (min-width: 752px) {
}
