:root {
  --main-text-color: #212427;
  --secondary-text-color: #313232;
  --light-text-color: #eeeeee;
  --main-bg-color: #fff;
  --dark-bg-color: #272829;
  --secondary-bg-color: rgba(255, 240, 245, 0.521);
  --main-border-color: #dde6ed;
  --card-bg: #fbfbfb;
  --main-grey-color: #f8f8f8;
  --main-violet: #bab4ff;
}
